:root {
    --folder-color: #998557;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    background-color: #000;
}

canvas {
    width: 100%;
    height: 100%;
}

button {
    border: 0;
    background: transparent;
    font-family: inherit;
}

.wrapper {
    width: 800px;
    height: 600px;
    position: relative;
    border: 2px solid #111;
}

#btn-pause {
    border: 2px solid #000;
    background: var(--folder-color);
    padding: 2px 6px;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    left: 5px;
    width: max-content;
    display: flex;
    align-items: center;
    gap: .5rem;
}

#btn-pause::after {
    content: ' ';
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20181.861%20181.862%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M73.243%2C14.374c0.306-3.066-2.416-4.671-5.017-4.564c-0.167-1.116-0.708-2.2-1.777-2.902%20%20%20%20c-3.78-2.483-9.917-1.587-14.304-1.897c-6.256-0.441-12.504-0.888-18.78-0.836c-4.141%2C0.036-8.142%2C0.555-11.091%2C2.262%20%20%20%20c-1.073-1.769-2.266-3.431-3.731-4.837c-2.484-2.383-6.17-0.559-6.415%2C2.657c-0.846%2C11.139%2C2.566%2C22.516%2C2.192%2C33.965%20%20%20%20c-0.61%2C18.71-3.948%2C37.361-6.492%2C55.872c-2.25%2C16.375-4.867%2C33.613-4.867%2C50.602c-0.006-0.006-0.012-0.012-0.019-0.017%20%20%20%20c-1.645-1.494-3.975%2C0.815-2.442%2C2.442c0.815%2C0.863%2C1.67%2C1.752%2C2.546%2C2.649c0.31%2C9.427%2C1.51%2C18.745%2C4.165%2C27.757%20%20%20%20c1.664%2C5.645%2C8.724%2C3.725%2C9.197-1.262c4.916%2C3.283%2C15.86%2C1.675%2C20.831%2C1.898c8.733%2C0.396%2C18.602%2C2.619%2C27.21%2C1.49%20%20%20%20c0.347-0.045%2C0.691-0.16%2C1.026-0.312c0.879-0.26%2C1.636-0.867%2C2.041-1.829c0.392-0.675%2C0.539-1.425%2C0.35-2.152%20%20%20%20C70.952%2C121.611%2C67.891%2C68.098%2C73.243%2C14.374z%20M41.555%2C12.681c5.794%2C0.538%2C15.542%2C3.656%2C22.02%2C2.16%20%20%20%20c-1.22%2C5.754-2.203%2C11.587-3.029%2C17.471c-3.501-2.473-7.425-4.569-10.807-6.849c-5.926-3.994-11.437-8.449-16.652-13.309%20%20%20%20C35.917%2C12.238%2C38.746%2C12.421%2C41.555%2C12.681z%20M27.924%2C12.156c-0.083%2C0.572%2C0.061%2C1.181%2C0.601%2C1.72%20%20%20%20c5.656%2C5.637%2C11.788%2C10.738%2C18.094%2C15.63c4.043%2C3.136%2C8.34%2C7.019%2C13.048%2C9.494c-0.312%2C2.641-0.596%2C5.289-0.851%2C7.946%20%20%20%20c-5.224-3.733-11.111-6.699-16.313-10.485c-5.413-3.94-10.406-8.464-15.095-13.264c-0.417-3.787-1.128-7.388-2.245-10.665%20%20%20%20C26.087%2C12.379%2C27.01%2C12.216%2C27.924%2C12.156z%20M58.281%2C52.383c-0.346%2C4.32-0.62%2C8.66-0.826%2C13.015%20%20%20%20C46.986%2C58.816%2C36.798%2C51.96%2C27.366%2C43.982c0.381-4.571%2C0.575-9.175%2C0.48-13.646c2.975%2C2.946%2C6.06%2C5.784%2C9.301%2C8.492%20%20%20%20C43.282%2C43.95%2C50.514%2C49.899%2C58.281%2C52.383z%20M26.802%2C49.849c9.572%2C8%2C19.885%2C15.053%2C30.382%2C21.837%20%20%20%20c-0.216%2C6.602-0.294%2C13.23-0.255%2C19.867c-5.637-1.801-13.211-8.282-15.936-10.266c-5.779-4.21-11.223-8.837-16.678-13.45%20%20%20%20C25.134%2C62.459%2C26.078%2C56.267%2C26.802%2C49.849z%20M23.184%2C75.715c0.131-1.038%2C0.284-2.145%2C0.449-3.296%20%20%20%20c6.594%2C5.712%2C13.18%2C11.44%2C20.147%2C16.693c2.952%2C2.227%2C8.323%2C6.417%2C13.221%2C7.373c0.091%2C6.618%2C0.252%2C13.237%2C0.517%2C19.842%20%20%20%20c-5.993-4.295-12.628-7.725-18.47-12.382c-6.134-4.889-11.875-10.278-17.545-15.712C22.079%2C84.059%2C22.657%2C79.887%2C23.184%2C75.715z%20%20%20%20%20M20.893%2C92.738c4.849%2C4.938%2C9.755%2C9.818%2C14.905%2C14.456c6%2C5.403%2C13.769%2C12.88%2C21.922%2C14.484%20%20%20%20c0.248%2C5.412%2C0.532%2C10.811%2C0.848%2C16.184c-7.822-5.87-16.666-10.062-24.353-16.363c-5.443-4.461-10.412-9.393-15.3-14.414%20%20%20%20C19.554%2C102.299%2C20.227%2C97.519%2C20.893%2C92.738z%20M18.397%2C110.95c4.826%2C5.424%2C9.965%2C10.579%2C15.383%2C15.383%20%20%20%20c6.822%2C6.049%2C15.105%2C13.144%2C24.14%2C15.162c0.342%2C0.075%2C0.595-0.025%2C0.862-0.097c0.306%2C5.021%2C0.627%2C10.021%2C0.958%2C14.983%20%20%20%20c-15.441-9.738-29.621-19.545-42.886-32.322C17.306%2C119.687%2C17.835%2C115.318%2C18.397%2C110.95z%20M16.209%2C172.26%20%20%20%20c-0.432-3.694-0.692-7.383-0.871-11.069c3.963%2C3.274%2C8.179%2C6.321%2C12.534%2C8.815C23.269%2C169.982%2C18.795%2C170.426%2C16.209%2C172.26z%20%20%20%20%20M41.782%2C170.686c-5.435-3.124-11.409-5.508-16.77-8.795c-3.403-2.087-6.647-4.421-9.81-6.863c-0.05-3.354-0.01-6.706%2C0.1-10.056%20%20%20%20c8.263%2C9.312%2C18.088%2C18.897%2C28.862%2C25.649C43.363%2C170.646%2C42.519%2C170.685%2C41.782%2C170.686z%20M57.579%2C170.721%20%20%20%20c-7.107-4.088-14.289-7.883-21.021-12.801c-7.582-5.539-14.387-12.057-20.952-18.765c0.18-3.183%2C0.508-6.36%2C0.789-9.54%20%20%20%20c11.971%2C13.363%2C27.486%2C26.952%2C43.789%2C33.401c0.184%2C2.721%2C0.367%2C5.438%2C0.548%2C8.137C59.725%2C170.928%2C58.645%2C170.838%2C57.579%2C170.721z%22%2F%3E%3Cpath%20d%3D%22M170.661%2C7.31c-1.514-1.904-4.517-1.45-6.157%2C0.149c-7.649-1.169-15.902-0.178-23.589-0.303%20%20%20%20c-10.557-0.171-21.149-0.988-31.703-0.399c-2.514-1.578-6.287-0.46-6.738%2C3.57c-0.652%2C5.845-0.904%2C11.778-0.935%2C17.75%20%20%20%20c-0.623-0.315-1.217-0.678-1.845-0.985c-1.922-0.941-3.598%2C1.833-1.691%2C2.893c1.201%2C0.669%2C2.35%2C1.423%2C3.536%2C2.118%20%20%20%20c0.143%2C11.338%2C1.065%2C22.803%2C1.948%2C34.14c-0.733-0.257-1.458-0.539-2.196-0.776c-1.953-0.628-2.72%2C2.355-0.837%2C3.036%20%20%20%20c1.128%2C0.407%2C2.21%2C0.877%2C3.302%2C1.333c0.407%2C5.332%2C0.79%2C10.637%2C1.045%2C15.87c0.363%2C7.443%2C0.595%2C14.871%2C0.707%2C22.292%20%20%20%20c-1.794-0.504-3.263%2C1.934-1.422%2C2.903c0.486%2C0.256%2C0.939%2C0.548%2C1.421%2C0.81c0.054%2C5.736%2C0.092%2C11.473-0.009%2C17.203%20%20%20%20c-0.2%2C0.45-0.229%2C0.971-0.047%2C1.461c-0.252%2C12.534-0.858%2C25.062-1.991%2C37.603c-1.316%2C0.946-1.552%2C3.16-0.326%2C4.231%20%20%20%20c-0.389%2C3.965%2C5.658%2C4.998%2C7.159%2C1.768c9.635%2C1.966%2C19.208%2C4.027%2C29.003%2C5.262c7.022%2C0.885%2C16.371%2C1.748%2C23.22-1.502%20%20%20%20c-0.013%2C0.18-0.028%2C0.359-0.041%2C0.539c-0.234%2C3.562%2C5.386%2C4.27%2C6.186%2C0.837c0.239-1.026%2C0.437-2.067%2C0.667-3.097%20%20%20%20c1.703%2C0.474%2C2.816-1.88%2C1.637-3.078c-0.26-0.264-0.546-0.504-0.811-0.762c5.995-28.348%2C8.702-57.885%2C10.312-86.661%20%20%20%20C181.707%2C63.32%2C185.626%2C26.141%2C170.661%2C7.31z%20M137.042%2C15.645c8.765%2C0.571%2C18.397%2C2.661%2C27.224%2C1.569%20%20%20%20c0.687%2C5.304%2C1.364%2C10.54%2C2.006%2C15.743c-9.137-6.507-20.323-11.57-30.331-14.937c-3.104-1.044-4.33%2C3.736-1.336%2C4.847%20%20%20%20c11.995%2C4.454%2C21.506%2C12.867%2C32.635%2C18.509c0.254%2C2.22%2C0.535%2C4.448%2C0.766%2C6.667c-6.709-4.237-13.991-7.753-20.767-11.758%20%20%20%20c-11.186-6.611-21.758-13.962-31.961-21.938C122.528%2C14.819%2C129.793%2C15.173%2C137.042%2C15.645z%20M136.438%2C36.301%20%20%20%20c10.038%2C6.735%2C20.903%2C14.469%2C32.309%2C19.118c0.387%2C4.409%2C0.707%2C8.834%2C0.924%2C13.303c-9.273-5.019-18.575-9.794-27.536-15.658%20%20%20%20c-9.328-6.104-18.535-12.356-28.083-18.057c-0.508-5.632-1.112-11.154-1.738-16.645C119.951%2C24.859%2C128.101%2C30.708%2C136.438%2C36.301%20%20%20%20z%20M135.777%2C169.663c-8.119-0.349-16.218-1.173-24.329-1.744c0.804-4.718%2C1.433-9.557%2C2.051-14.397%20%20%20%20c2.5%2C2.469%2C5.16%2C4.771%2C8.013%2C6.928c4.357%2C3.296%2C9.946%2C7.591%2C15.438%2C9.19C136.559%2C169.631%2C136.169%2C169.678%2C135.777%2C169.663z%20%20%20%20%20M140.633%2C169.563c0.799-0.691%2C1.078-1.889%2C0.104-2.824c-4.182-4.008-10.498-6.038-15.443-9.089%20%20%20%20c-4.07-2.511-7.765-5.483-11.152-8.804c0.407-3.537%2C0.693-7.137%2C1.01-10.723c7.646%2C5.799%2C15.29%2C11.601%2C22.933%2C17.405%20%20%20%20c5.469%2C4.155%2C11.033%2C8.774%2C16.901%2C12.79C150.234%2C168.706%2C145.448%2C169.349%2C140.633%2C169.563z%20M163.404%2C166.375%20%20%20%20c-7.232-5.523-15.413-10.168-22.727-15.289c-8.362-5.856-16.677-11.789-25.095-17.567c0.39-5.056%2C0.692-10.149%2C0.918-15.269%20%20%20%20c7.266%2C4.674%2C14.21%2C9.772%2C21.062%2C15.248c8.653%2C6.914%2C16.982%2C15.404%2C26.995%2C20.291c0.013%2C0.006%2C0.024%2C0.004%2C0.037%2C0.01%20%20%20%20C164.185%2C157.99%2C163.762%2C162.18%2C163.404%2C166.375z%20M165.083%2C148.643c-7.496-7.001-16.411-12.819-24.528-19.023%20%20%20%20c-7.651-5.849-15.538-11.39-23.913-16.087c0.169-4.864%2C0.25-9.75%2C0.286-14.64c14.871%2C13.857%2C31.642%2C28.693%2C49.565%2C35.895%20%20%20%20C166.026%2C139.405%2C165.549%2C144.024%2C165.083%2C148.643z%20M167.037%2C129.211c-8.188-5.904-17.194-10.838-25.423-16.692%20%20%20%20c-8.485-6.036-16.658-12.522-24.686-19.17c-0.013-5.581-0.15-11.159-0.316-16.727c18.221%2C11.625%2C32.351%2C28.716%2C51.659%2C38.941%20%20%20%20C167.878%2C120.114%2C167.485%2C124.665%2C167.037%2C129.211z%20M168.778%2C109.627c-16.109-13.213-33.329-28.153-52.301-37.808%20%20%20%20c-0.188-5.068-0.439-10.118-0.741-15.143c8.906%2C6.644%2C17.831%2C13.264%2C26.865%2C19.729c8.092%2C5.789%2C17.397%2C14.336%2C27.104%2C18.152%20%20%20%20C169.465%2C99.588%2C169.166%2C104.613%2C168.778%2C109.627z%20M145.249%2C71.878c-9.961-6.628-19.886-13.312-29.844-19.946%20%20%20%20c-0.264-3.933-0.612-7.8-0.935-11.688c8.428%2C5.664%2C16.643%2C11.664%2C24.914%2C17.524c8.942%2C6.334%2C19.485%2C15.205%2C30.544%2C18.661%20%20%20%20c0.079%2C3.607%2C0.108%2C7.237%2C0.03%2C10.926C162.074%2C81.789%2C153.152%2C77.137%2C145.249%2C71.878z%22%2F%3E%3C%2Fsvg%3E');
}

#backdrop {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
}

#guest-list {
    visibility: hidden;
    position: absolute;
    inset: 0;
    height: 520px;
    width: 400px;
    background-image: url('/images/guest-list.avif');
    background-size: 100% 100%;
    z-index: 1;
    margin: auto;
    margin-left: 50px;
}

.btn-toggle {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3Adc%3D%22http%3A%2F%2Fpurl.org%2Fdc%2Felements%2F1.1%2F%22%20xmlns%3Acc%3D%22http%3A%2F%2Fcreativecommons.org%2Fns%23%22%20xmlns%3Ardf%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2F02%2F22-rdf-syntax-ns%23%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20id%3D%22svg8%22%3E%3Crect%20transform%3D%22rotate(45)%22%20ry%3D%220%22%20y%3D%22-1%22%20x%3D%224.3137083%22%20height%3D%222%22%20width%3D%2214%22%20id%3D%22rect1006%22%2F%3E%3Crect%20transform%3D%22rotate(-45)%22%20ry%3D%220%22%20y%3D%2210.313708%22%20x%3D%22-7%22%20height%3D%222%22%20width%3D%2214%22%20id%3D%22rect1006-5%22%2F%3E%3C%2Fsvg%3E');
    background-size: 100% 100%;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 32px;
    right: 32px;
}

#folder {
    visibility: hidden;
    position: absolute;
    width: 700px;
    height: 450px;
    aspect-ratio: 16 / 9;
    background: #998557;
    inset: 0;
    border: 2px solid;
    margin: auto;
    bottom: -50px;
}

.folder-header {
    position: absolute;
    left: -2px;
    top: -50px;
    border: 2px solid #000;
    width: 300px;
    height: 50px;
    border-bottom: 0;
    background: #998557;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder-header .btn-toggle {
    position: static;
}

.folder-content::before {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    width: 2px;
    background: #000;
    height: 100%;
    margin: auto;
}

/* Content Folder */
.tabs {
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 1fr;
    background: wheat;
    position: absolute;
    inset: 0;
    margin: auto;
    border: 2px solid #000;
}

.tab {
    display: grid;
    place-items: center;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.tab.selected {
    border-bottom-color: transparent;
}

.tab:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.tab:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.tab:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
}

.tab:nth-child(4) {
    grid-column: 4;
    grid-row: 1;
    border-right: 0;
}

.tab-content {
    grid-column: 1 / 4;
    grid-row: 2;
}